// portfolio.html

.container-3 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h4 {
  font-size: 30px;
  margin: 5px;
}

h3 {
  font-size: 100px;
  margin: 10px;
}

.fab {
  font-size: 50px;
}
.portfolio {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-animation: rotateHue infinite 20s linear;
  animation: rotateHue infinite 20s linear;
  -webkit-animation-delay: 0.625s;
  animation-delay: 0.625s;
}

@-webkit-keyframes rotateHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  20% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  45% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  70% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  75% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }
  95% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@keyframes rotateHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  20% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  45% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  70% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  75% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }
  95% {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.portfolio_shutters {
  .title {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 600px;
    margin-left: -300px;
    color: #fff;
    z-index: 100;
    opacity: 0;
    animation: showHideSlide infinite 20s steps(1), openTop 5s infinite;
    h3 {
      font-size: 50px;
      font-weight: bold;
    }
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 5s;
    }
    &:nth-child(3) {
      animation-delay: 10s;
    }
    &:nth-child(4) {
      animation-delay: 15s;
    }
  }
}

.portfolio_shutters {
  position: absolute;
  height: 150vmax;
  width: 150vmax;
  left: calc(50% - 75vmax);
  top: calc(50% - 75vmax);
  pointer-events: none;
  z-index: 2;
  -webkit-animation: rotateFrame 10s linear infinite;
  animation: rotateFrame 10s linear infinite;
}
@-webkit-keyframes rotateFrame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes rotateFrame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.portfolio_shutters:before,
.portfolio_shutters:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  background-color: #b3401a;
  pointer-events: auto;
}
.portfolio_shutters:before {
  bottom: 50%;
  -webkit-animation: openTop 5s infinite;
  animation: openTop 5s infinite;
}
@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
@keyframes openTop {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    -webkit-transform: translate3d(-50%, -65vmax, 0);
    transform: translate3d(-50%, -65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.portfolio_shutters:after {
  top: 50%;
  -webkit-animation: openBottom 5s infinite;
  animation: openBottom 5s infinite;
}
@-webkit-keyframes openBottom {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
@keyframes openBottom {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    -webkit-transform: translate3d(-50%, 65vmax, 0);
    transform: translate3d(-50%, 65vmax, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.portfolio_slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f3e031;
}
.portfolio_slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: showHideSlide infinite 20s steps(1);
  animation: showHideSlide infinite 20s steps(1);
}
@-webkit-keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
@keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
.portfolio_slide:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.portfolio_slide:nth-child(1) .portfolio_slideBg {
  background-image: url("/assets/img/haikyu.png");
}
.portfolio_slide:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.portfolio_slide:nth-child(2) .portfolio_slideBg {
  background-image: url("/assets/img/se.pg.png");
}
.portfolio_slide:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.portfolio_slide:nth-child(3) .portfolio_slideBg {
  background-image: url("/assets/img/workout.png");
}
.portfolio_slide:nth-child(4) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
.portfolio_slide:nth-child(4) .portfolio_slideBg {
  background-image: url();
}
.portfolio_slideBg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: #fffb1f;
  // background-blend-mode: hard-light;
  opacity: 1;
  z-index: -1;
  -webkit-animation: bgInOut 5s infinite;
  animation: bgInOut 5s infinite;
}
@-webkit-keyframes bgInOut {
  0% {
    -webkit-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
}
@keyframes bgInOut {
  0% {
    -webkit-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
}
.portfolio_slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  color: white;
  line-height: 0.8;
  letter-spacing: -0.025em;
  z-index: 2;
  opacity: 1;
  text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
  mix-blend-mode: lighten;
}
.portfolio_slideContent span {
  display: block;
  font-size: 15vmin;
}

.button {
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  box-shadow: -0.5vmin 0.5vmin 0 rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-top: 5vmin;
  mix-blend-mode: lighten;
  color: white;
  padding: 2vmin 2vmin 1.8vmin 2vmin;
  letter-spacing: 0.1em;
  text-shadow: none;
  line-height: 1;
  -webkit-transform: translate3d(0.5vmin, -0.5vmin, 0);
  transform: translate3d(0.5vmin, -0.5vmin, 0);
  transition: all 100ms linear;
}
.button:hover {
  -webkit-transform: translate3d(1vmin, -1vmin, 0);
  transform: translate3d(1vmin, -1vmin, 0);
  box-shadow: -1vmin 1vmin 0 rgba(255, 255, 255, 0.5);
  background: white;
  color: black;
}
.button:active {
  -webkit-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
  box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
}

// vision.html(5枚目)
.ib-container {
  position: relative;
  width: 800px;
  margin: 30px auto;
  display: block;
}
.ib-container:before,
.ib-container:after {
  content: "";
  display: table;
}
.ib-container:after {
  clear: both;
}
.ib-container article {
  display: block;
  width: 140px;
  height: 220px;
  background: #fff;
  cursor: pointer;
  float: left;
  border: 10px solid #fff;
  text-align: left;
  text-transform: none;
  margin: 15px;
  z-index: 1;
  /* -webkit-backface-visibility: hidden; */
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1), 1px 1px 3px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.4s linear, -webkit-transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  -moz-transition: opacity 0.4s linear, -moz-transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  -o-transition: opacity 0.4s linear, -o-transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  -ms-transition: opacity 0.4s linear, -ms-transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  transition: opacity 0.4s linear, transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
}
.ib-container h3 a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.ib-container article header span {
  font-size: 15px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  padding: 10px 0;
  display: block;
  color: rgb(255, 122, 82);
  color: rgb(255, 122, 82);
  text-shadow: 0px 0px 0px rgba(255, 210, 82, 1);
  text-transform: uppercase;
  opacity: 0.8;
}
.ib-container article p {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #333;
  color: rgba(51, 51, 51, 1);
  text-shadow: 0px 0px 0px rgba(51, 51, 51, 1);
  opacity: 0.8;
}
.ib-container h3 a,
.ib-container article header span,
.ib-container article p {
  -webkit-transition: opacity 0.2s linear, text-shadow 0.8s ease-in-out, color 0.8s ease-in-out;
  -moz-transition: opacity 0.2s linear, text-shadow 0.8s ease-in-out, color 0.8s ease-in-out;
  -o-transition: opacity 0.2s linear, text-shadow 0.8s ease-in-out, color 0.8s ease-in-out;
  -ms-transition: opacity 0.2s linear, text-shadow 0.8s ease-in-out, color 0.8s ease-in-out;
  transition: opacity 0.2s linear, text-shadow 0.8s ease-in-out, color 0.8s ease-in-out;
}
/* Hover Style for all the items: blur, scale down*/
.ib-container article.blur {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 1);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.7;
}
.ib-container article.blur h3 a {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}
.ib-container article.blur header span {
  text-shadow: 0px 0px 10px rgba(255, 210, 82, 0.9);
  color: rgba(255, 210, 82, 0);
  opacity: 0.5;
}
.ib-container article.blur p {
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  color: rgba(51, 51, 51, 0);
  opacity: 0.5;
}

/* Hover Style for single item: scale up */
.ib-container article.active {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1), 1px 11px 15px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 1;
}
.ib-container article.active h3 a,
.ib-container article.active header span,
.ib-container article.active p {
  opacity: 1;
}

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
/* Fonts */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) */
@font-face {
  font-family: "BebasNeueRegular";
  src: url("fonts/BebasNeue-webfont.eot");
  src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"),
    url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* General Demo Style */
body {
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background: #ddd url(../images/noisy_blue.jpg) repeat top left;
  font-weight: 400;
  font-size: 15px;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  width: 100%;
  position: relative;
  text-align: center;
}
.clr {
  clear: both;
}
.container > header {
  padding: 30px 30px 10px 30px;
  margin: 0px 20px 10px 20px;
  position: relative;
  display: block;
}
.container > header:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.7);
}
h1 {
  font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  position: relative;
  font-weight: 400;
  color: #111;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  padding: 0px 0px 5px 0px;
  margin: 0px 20px;
  text-align: center;
}
h1 span {
  color: #ff6652;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 16px;
  font-style: italic;
  padding: 0px 0px 15px 0px;
}
/* Header Style */
.header {
  font-family: "Arial Narrow", Arial, sans-serif;
  line-height: 24px;
  font-size: 11px;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  -moz-box-shadow: 1px 0px 2px #000;
  -webkit-box-shadow: 1px 0px 2px #000;
  box-shadow: 1px 0px 2px #000;
}
.header a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #ddd;
  display: block;
  float: left;
}
.header a:hover {
  color: #fff;
}
.header span.right {
  float: right;
}
.header span.right a {
  float: none;
  display: inline;
}
p.demos {
  font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  display: block;
  line-height: 30px;
  padding: 20px 0px;
}
p.demos a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #222;
  margin: 0px 4px;
  color: #fff;
  line-height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 50%;
  font-size: 16px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
}

p.demos a:hover {
  opacity: 0.7;
}
p.demos a.current-demo,
p.demos a.current-demo:hover {
  background: #ffd252;
}

footer {
  background-color: #1f2029;
  height: 10vh;
  width: 100vw;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
